.hero-section {
  width: 100%;
  background: {
    image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../../dist/images/hero-image-small.jpg);
    repeat: no-repeat;
    size: cover;
    position: center;
    attachment: fixed;
  }
}

.full-hero {
  height: 100vh;
}

.half-hero {
  height: 50vh;
}

.hero-container {
  height: 100%;
  text-align: center;
}

.hero-text {
  max-width: 576px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.hero-heading {
  font-size: $fs-32;
  color: $white-color;
  margin-bottom: $spacing-16;

  span {
    position: relative;
    display: inline;
    z-index: 5;

    &::before {
      content: '';
      position: absolute;
      display: block;
      bottom: 0;
      right: 0;
      width: 100%;
      height: .5rem;
      background-color: $secondary-color;
      z-index: 5;
    }
  }
}

.hero-description {
  font-size: $fs-18;
  color: $white-color;
  margin-bottom: $spacing-32;
}