@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");

$primary-color: #DA291C;
$primary-color-alt: #DA291C44;
$secondary-color: #FFC72C;
$hover-color: #AC2218;
$white-color: #FFF;
$title-color: #202020;
$text-color: #353535;

$ff-poppins: 'Poppins', sans-serif;

$fs-32: 3.2rem;
$fs-28: 2.8rem;
$fs-24: 2.4rem;
$fs-20: 2rem;
$fs-18: 1.8rem;
$fs-16: 1.6rem;

$fw-500: 500;
$fw-600: 600;

$spacing-5: .5rem;
$spacing-8: .8rem;
$spacing-16: 1.6rem;
$spacing-20: 2rem;
$spacing-24: 2.4rem;
$spacing-32: 3.2rem;
$spacing-40: 4rem;

$header-height: 7rem;